<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-relative">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex">
            <a class="navbar-brand ms-3" href="/">
                <%= name %>
            </a>
            <a class="btn btn-outline-light ms-2" href="/about">About</a>
        </div>

        <div class="mx-auto position-absolute top-50 start-50 translate-middle">
            <form id="searchForm">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="q"
                    id="searchInput">
            </form>
        </div>

        <% if (session) { %>
            <div class="btn-group me-3">
                <a class="btn btn-outline-light user-dropdown-btn" href="/user/<%= session.username %>">
                    Hi, <%= session.username %>
                </a>
                <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>
            <% } else { %>
                <a class="btn btn-outline-light me-2" href="/login">Login/Register</a>
                <% } %>
    </div>
</nav>

<div id="searchContainer" class="search-container"></div>

<div id="searchBox" class="search-box">
    <form class="d-flex" id="searchFormBox">
        <input class="form-control" type="search" placeholder="Search <%= name %>" aria-label="Search" name="q"
            id="searchInputBox">
    </form>

    <div class="search-content">
        <div class="search-results">
            <div id="topics-results">
                <h4>Topics</h4>
                <ul id="topics-list"></ul>
            </div>
            <div id="posts-results">
                <h4>Posts</h4>
                <ul id="posts-list"></ul>
            </div>
        </div>
    </div>
</div>